<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" href="/images/binar-logos-text.png" sizes="128x128" type="image/gif/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/login.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row login" id="login">
      <div class="input-group mb-3" style="justify-content: center;">
        <p style="margin: 0;">Welcome Back!</p>
      </div>
      <div class="input-group d-flex mb-3" style="justify-content: center;">
        <p style="margin: 0;">Login as a Guest?</p>
        <a style="margin-left: 5px;" href="#" onclick="loginGuest();">Click Here</a>
      </div>      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-key"></i>
          </span>
        </div>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <span class="input-group-text show_hide_password" id="basic-addon1">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </span>
        </div>        
      </div>
      <div class="input-group mb-3">
        <button type="submit" id="btnLogin" class="btn btn-success form-control">
          LOGIN
        </button>        
      </div>
      <div class="input-group mb-3">
        <button type="button" id="btnSignUp" class="btn btn-info form-control">
          SIGN UP
        </button>        
      </div>      
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>  
<script type="text/javascript">
/* sign up */
document.querySelector('#btnSignUp').addEventListener('click', function(event) {
  location.href = '/register';
})

/* styling hide show password field */
document.querySelector('.show_hide_password').addEventListener('click', function(event) {
  if ( document.querySelector('#password').type === "password" ) {
    document.querySelector('#password').type = "text";
    document.querySelector('.show_hide_password').innerHTML = `<i class="fa fa-eye" aria-hidden="true"></i>`;
  } else {
    document.querySelector('#password').type = "password";
    document.querySelector('.show_hide_password').innerHTML = `<i class="fa fa-eye-slash" aria-hidden="true"></i>`;
  }  
})

/* set get cookie */
function setCookie(name,value,days) {
  var expires = "";
  if (days) {
    var date = new Date();
    date.setTime(date.getTime() + (days*24*60*60*1000));
    expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

function getCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  }
  return null;
}

/* Login as User */
document.querySelector('#btnLogin').addEventListener('click', (events) => {
  const registration = fetch('/login-user', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: document.querySelector('#username').value,
        password: document.querySelector('#password').value    
    })
  }).then(response => {
      return response.json();
  }).then(result => {
    if( result.message == 'Login Accepted' ) {
      /* first approach */
      let cookie = setCookie('user-data', JSON.stringify(result.result), 7);
      alert('Berhasil Login & Set Cookies');
      location.href = '/dashboard-user';
    } else {
      alert(result.message);
    }
  }).catch(error => {
    console.log(error)
  })
})

/* Login as Guest */
function loginGuest() {
  const registration = fetch('/login-guest', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: "guest",
        password: "guest"    
    })
  }).then(response => {
      return response.json();
  }).then(result => {
    if( result.message == 'Login Accepted' ) {
      /* first approach */
      let cookie = setCookie('user-data', JSON.stringify(result.result), 7);
      alert('Berhasil Login & Set Cookies');
      location.href = '/dashboard-guest';
    } else {
      alert(result.message);
    }
  }).catch(error => {
    console.log(error)
  })
}
</script>
</html>